@charset 'utf-8';
.wrap {
	height: 44.25rem;
	padding-top: 1.17rem;
	background: url("../images/background.png") 0 0 no-repeat;
	background-size: 100% 100%;
}
.wrap h1 {
	width: 4.08rem;
	height: 2.75rem;
	margin: 0 0 3rem 1.33rem;
	background: url("../images/logo.png") 0 0 no-repeat;
	background-size: 100% 100%;
	text-indent: -9999px;
}
.content {
	width: 85%;
	height: 28.25rem;
	margin: 0 auto;
	padding-top: 2.58rem;
	background: url("../images/whitebackground.png") 0 0 no-repeat;
	background-size: 100% 100%;
}
.content h2 {
	margin-bottom: 1.25rem;
	font-size: 1.67rem;
	font-weight: bold;
	text-align: center;
	color: #2a2a2a;
}
.content h3 {
	margin-bottom: 1.25rem;
	font-size: 0.75rem;
	color: #2a2a2a;
	text-align: center;
}
.content .text {
	position: relative;
	width: 92%;
	height: 3.83rem;
	margin: 0 auto;
	color: #2a2a2a;
	font-size: 1.58rem;
}
.par {
	position: absolute;
	left: 4%;
	height: 3.63rem;
	padding: 0.1rem 0;
}
.content span {
	display: inline-block;
	height: 3.63rem;
	line-height: 3.63rem;
	background: #f9f9f9;
}
.text input {
	width: 92%;
	height: 100%;
	padding: 0 4%;
	background: url("../images/white.png") 0 0 no-repeat;
	background-size: 100% 100%;
	font-size: 1.58rem;
	outline: none;
	border: 0;
	text-align: center;
}
.text input.tel {
	width: 66%;
	padding: 0 0 0 34%;
	text-align: left;
}
.tip {
	height: 1.5rem;
	text-align: center;
	color: red;
	margin-bottom: 0.42rem;
}
.btn {
	width: 92%;
	height: 3.83rem;
	margin: 0 auto 2.25rem;
}
.btn input {
	width: 100%;
	height: 100%;
	border: 0;
	outline: none;
	background: url("../images/yellow.png") 0 0 no-repeat;
	background-size: 100% 100%;
	font-size: 1.58rem;
	color: #fff;
}
.mes {
	padding: 0 4%;
	font-size: 0.83rem;
	font-weight: bold;
	text-align: center;
	color: #979797;
}